
<div class="form-item">
    <label>Current password: </label>
    <input type="password" name = "currentPassword" required> 
    <br>
    <label>New password: </label>
    <input type="password" name = "newPassword" required> 
    <br>
    <!-- <label>Repeat new password: </label>
    <input type="text" name = "newPasswordRepeat" required> 
    <br> -->
</div>