<h2 class="page-header">Change password</h2>

<p><%=message %> </p>
<form id="form" action = "/profile/changePassword?_method=PUT" method= "POST">
    <%- include('_form_fields') %>

    <div class="btn-row">
        <a href="/profile" class="btn btn-primary">Cancel</a>
        <button type="submit" class="btn btn-primary">Change password</button>
    </div>
</form>
