<header>
    <nav>
      <a href="/">MyCars</a>
      <ul>
        <li><a href="/companies">Companies</a></li>
        <li><a href="/companies/new">Add company</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/cars/new">Add car</a></li>
      </ul>
      <%- include ('logoutForm', {url:'/users/logout'})%>
    </nav>
  </header>