<header>
    <nav class="header-nav">
      <a class="header-title" href="/">MyCars</a>
      <ul>
        <% if (showAdmin) { %>
          <li><a href="/admin">Admin</a></li>
        <% } %>

        <li><a href="/companies">Companies</a></li>
        <li><a href="/companies/new">Add company</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/cars/new">Add car</a></li>
        <li><%- include ('logoutForm', {url:'/logout'})%></li>
      </ul>
    </nav>
  </header>