<h1>Login</h1>
<p style="color:red">
<% if (messages.error) { %> 
    <%= messages.error  %> 
    <% } %> </p>
<form action ="/login" method = "POST">
    
    <div class="form-item">
        <label for="name">E-Mail: </label>
        <input type="text" id="email" name="email" required>
    </div>
    <br>
    <div class="form-item">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="btn-row">
        <button type="submit" class="btn btn-primary">Login</button>
        
    </div>
</form>


<a href="/register" class="btn btn-primary">Register</a>
