<h2 class="page-header">New Company</h2>

<form id="form" action="/companies" method="POST">
  <%- include('_form_fields') %>
  <div class="btn-row">
    <a class="btn btn-danger" href="/companies">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>