<h2>Search Car</h2>
<form action="/cars" method="GET">
  <div>
    <label>Model</label>
    <input type="text" name="model" value="<%= searchOptions.model %>">
  </div>
  <div>
    <label>Published After</label>
    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
  </div>
  <div>
    <label>Published Before</label>
    <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
  </div>
  <button type="submit">Search</button>
</form>
<div>
  <% cars.forEach(car => { %>
    <img height="150" width="100" src="<%= car.imagePath %>">
  <% }) %>
</div>